main {
    margin: 1rem;
    color: white;
    padding-left: 30%;
    padding-bottom: 40px;
  }

  .bgImage {
    background-position: right top;
    background-repeat: repeat-y;
  }

  .blogIntro {
    padding-top: 5rem;
  }

  .blogHeader {
    font-size: 2rem;
    color: #c240b7;
  }


  /* Media queries */
/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 850px */
@media (min-width: 481px) and (max-width: 850px) {
  main {
    padding-left: 0;
    width: 100%;
  }
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  p {
    font-size: 1.1rem;
  }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 0) and (max-width: 480px) {
  main {
    padding-left: 0;
  }

  p {
    font-size: 1.1rem;
  }

  .textContainer {
    width: 96%;
  }

}
