body {
  font-family: "Roboto";
}

main {
  margin: 1rem;
  color: white;
  padding-left: 30%;
  padding-bottom: 40px;
}

p {
  font-size: 1.3rem;
  line-height: 1.8;
}

a {
  color: #c240b7;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  opacity: 0.5;
}

.aboutHeader {
  font-size: 2rem;
  color: #c240b7;
}

.introHeader {
  font-size: 3rem;
}

.freelanceHeader {
  font-size: 2rem;
  color: #c240b7;
}

.textContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.bgImage {
  background-position: right top;
  background-repeat: repeat-y;
}

.introduction {
  padding-top: 11rem;
  height: 100vh;
}

.textPurple {
  color: #c240b7;
}

.about {
  padding-bottom: 3rem;
}

.wpPortfolio {
  padding-bottom: 3rem;
}

.skillsHeader,
.funHeader,
.contactHeader {
  font-size: 2rem;
  color: #c240b7;
}

.projectWrapper {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.contact {
  height: 50vh;
  padding-top: 10rem;
}

.skills {
  padding-top: 3rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.socialMedia {
  display: none;
}

.imgPhoebe {
  border-radius: 50%;
}

.imgPhoebeWrapper {
  text-align: left;
  max-width: 90%;
  display: none;
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 850px */
@media (min-width: 481px) and (max-width: 850px) {
  main {
    padding-left: 0;
    width: 100%;
  }
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  p {
    font-size: 1.1rem;
  }

  .introduction {
    padding-top: 2rem;
  }

  .socialMedia {
    display: block;
  }

  .contact {
    height: 50vh;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  .textContainer > p {
    font-size: 1.1rem;
  }

  .imgPhoebeWrapper {
    display: block;
  }

  .introHeader {
    font-size: 2rem;
    
  }
  .introduction {
    padding-bottom: 5rem;
  }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 0) and (max-width: 480px) {
  main {
    padding-left: 0;
  }

  p {
    font-size: 1.1rem;
  }

  .textContainer {
    width: 96%;
  }

  .introduction {
    padding-top: 3rem;
  }

  .projectWrapper {
    display: flex;
    flex-direction: column;
  }

  .socialMedia {
    display: block;
  }

  .contact {
    padding-top: 10rem;
    padding-bottom: 3rem;
  }
  .imgPhoebeWrapper {
    display: block;
  }

  .introHeader {
    font-size: 2rem;
  }
}
