.imgPhoebe {
  border-radius: 50%; 
}

.imgPhoebeWrapper {
  padding-top: 20%;
  margin-right: 1rem;
  text-align: right;
  max-width: 90%;
}

body {
  font-family: "Open sans";
  margin: 0;
  color: white;
}

.sidebarHeader {
  letter-spacing: 0.5px;
  max-width: 90%;
  text-align: right;
  color: #7c2075;
  font-weight: bolder;
}

.container {
  height: 100vh;
  max-width: 30%;
  min-width: 30%;
  position: fixed;
  z-index: 1;
  background-color: #121212;
  border-right: 4px solid #7c2075;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.fontAwesome {
  color: rgb(224, 223, 223);
}

.fontAwesome:hover {
  opacity: 0.5;
}

.buttonContainer {
  text-align: right;
  max-width: 90%;
}

.tagline {
  font-size: 1.2rem;
  max-width: 90%;
  text-align: right;
  font-weight: 600;
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 850px) {
  .container {
    display: none;
  }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: none;
  }
}
