img {
  max-height: 150px;
  border-radius: 50%;
}

body {
  font-family: "Open sans";
}

h2 {
  letter-spacing: 0.5px;
}

html {
  height: 100%;
  border-right: rgba(0, 0, 0, 0.76);
  max-width: 20rem;
  min-width: 20rem;
  -webkit-box-shadow: 2px 0px 6px 2px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.56);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.fontAwesome {
  color: black;
}

.fontAwesome:hover {
  opacity: 0.5;
}