.icon {
  padding: 10px;
}

.fontAwesome {
  color: rgb(224, 223, 223);
}

.fontAwesome:hover {
  opacity: 0.5;
}

.buttonContainer {
  text-align: right;
  max-width: 90%;
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
.buttonContainer {
    text-align: center;
}
  }
